<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Isbath:</strong>
  <%= @room.isbath %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @room.wifi %>
</p>

<p>
  <strong>Kitchen:</strong>
  <%= @room.kitchen %>
</p>

<p>
  <strong>Isavailable:</strong>
  <%= @room.isavailable %>
</p>

<p>
  <strong>No of beds:</strong>
  <%= @room.no_of_beds %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @room.floor %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
